<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body style="background-color:#5c5f7d;">

<div class="container" style="margin-top:30px">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Welcome </h3>

            </div>
            <div class="panel-body">

                <a href="/register" class="btn btn-primary" role="button" aria-pressed="true">register</a>
                <a href="/completedDataBaseNewUsers" class="btn btn-primary" role="button" aria-pressed="true">AddDefaultUsers</a>
                <a href="/logIn" class="btn btn-primary" role="button" aria-pressed="true">logIn</a>

            </div>
        </div>
    </div>
</div>
</body>
</html>